html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;

  color: var(--body, #333);
  background: var(--background, #fff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  margin: 0;
}

a {
  color: var(--body, #333);
}

:root {
  --title-font: "Libre Barcode 39 Extended Text";
  --header-font: "Chango";
  --body-font: "Source Code Pro";

  /* setup base */
  --base-dark: 272, 21%;
  --base-primary: 64, 87%;
  --base-secondary: 39, 92%;
  --base-accent: 131, 62%;

  /* setup variants */
  --dark-10: var(--base-dark), 10%;
  --dark-20: var(--base-dark), 20%;
  --dark-30: var(--base-dark), 30%;
  --dark-40: var(--base-dark), 40%;
  --dark-50: var(--base-dark), 50%;
  --dark-60: var(--base-dark), 60%;
  --dark-70: var(--base-dark), 70%;
  --dark-80: var(--base-dark), 80%;
  --dark-90: var(--base-dark), 90%;
  --dark-100: var(--base-dark), 100%;

  --primary-10: var(--base-primary), 10%;
  --primary-20: var(--base-primary), 20%;
  --primary-30: var(--base-primary), 30%;
  --primary-40: var(--base-primary), 40%;
  --primary-50: var(--base-primary), 50%;
  --primary-60: var(--base-primary), 60%;
  --primary-70: var(--base-primary), 70%;
  --primary-80: var(--base-primary), 80%;
  --primary-90: var(--base-primary), 90%;
  --primary-100: var(--base-primary), 100%;

  --secondary-10: var(--base-secondary), 10%;
  --secondary-20: var(--base-secondary), 20%;
  --secondary-30: var(--base-secondary), 30%;
  --secondary-40: var(--base-secondary), 40%;
  --secondary-50: var(--base-secondary), 50%;
  --secondary-60: var(--base-secondary), 60%;
  --secondary-70: var(--base-secondary), 70%;
  --secondary-80: var(--base-secondary), 80%;
  --secondary-90: var(--base-secondary), 90%;
  --secondary-100: var(--base-secondary), 100%;

  --accent-10: var(--base-accent), 10%;
  --accent-20: var(--base-accent), 20%;
  --accent-30: var(--base-accent), 30%;
  --accent-40: var(--base-accent), 40%;
  --accent-50: var(--base-accent), 50%;
  --accent-60: var(--base-accent), 60%;
  --accent-70: var(--base-accent), 70%;
  --accent-80: var(--base-accent), 80%;
  --accent-90: var(--base-accent), 90%;
  --accent-100: var(--base-accent), 100%;

  /* setup preset colors for use on components */
  --background: hsla(var(--dark-10), 100%);
  --body: hsla(var(--dark-80), 90%);

  --mobileMenuBackground: hsla(var(--accent-60), 60%);
  --mobileMenuAccent: hsla(var(--dark-90), 80%);

  --primary: hsla(var(--primary-70), 100%);
  --light-primary: hsla(var(--primary-80), 70%);

  --secondary: hsla(var(--secondary-50), 100%);
  --light-secondary: hsla(var(--secondary-50), 70%);
}
